<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Mercado Liebre</title>
</head>

<body>
    <header class="header-main">
        <div class="header-main-navbar">
            <div class="header-div-logo">
                <a href="/home"><img  class="header-logo" src="/images/logo-mercado-liebre.svg" alt="programacionFullStack"></a>
                <form action="" class="header-form-search" >
                    <input class="header-input-search" type="search" placeholder="Buscar productos" name="buscar" maxlength="60">
                    <a href="#" style="align-self: center; margin-left: -40px; border-left: 3px solid #ebebeb;">
                        <i class="fa-solid fa-magnifying-glass header-icon-search"></i>
                    </a>
                </form>
            </div>
            <h2 class="header-h2-buy">
                <i class="fa-solid fa-hand-holding-dollar"> </i>Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>
           
        <a class="header-hamburger-bottom" href="#">
            <i class="fas fa-bars"></i>
        </a>
       
        <nav class="header-nav-menu">
            <ul class="header-nav-option">
                <li> <a href="#"> Ofertas</a> </li>
                <li> <a href="#"> Tiendas Oficiales</a> </li>
                <li> <a href="#"> Vender</a> </li>
                <li> <a href="#"> Ayuda</a> </li>
            </ul>
            
            <ul class="header-nav-login">
                <li> <a href="/register"> Creá tu cuenta&nbsp;<i class="fa-regular fa-id-card"></i></a></li>
                <li> <a href="/login"> Ingresá&nbsp;<i class="fa-solid fa-right-to-bracket"></i> </a> </li>
                <li> <a href="#"> Mis compras&nbsp;<i class="fa-solid fa-basket-shopping"></i></a> </li>
            </ul>
        </nav>
    </header>

    <main class="main-home">
        <img  class="main-banner"  src="/images/img-home-banner.jpg" alt="banner">
        <section class="main-section">
            <h3 class="main-titulares">Basado en tu última visita</h3>
            <div class="main-section-div-all">
                <div class="main-section-div-2">
                    <article class="main-section-article">
                        <div class="section-article-img">
                            <img class="main-article-img" src="/images/img-cafetera-moulinex.jpg" alt="Programacion Full Stack">
                        </div>
                        <div class="body-section-div">
                            <p class="section-article-send">
                                <a href="#" class="section-article-icon">
                                    <i class="fa-solid fa-truck"></i> 
                                </a>
                            </p>
                            <div class="article-div-flex">
                                <p class="section-article-precio"> $6.770</p> 
                                <p class="section-article-descuento"> 40% OFF </p>
                            </div>
                            <p class="section-article-descripcion"> Cafetera Moulinex </p> 
                        </div>
                    </article>

                    <article class="main-section-article">
                        <div class="section-article-img">
                            <img class="main-article-img" src="/images/img-macbook-pro-2019.jpg" alt="Programacion Full Stack">
                        </div>
                        <div class="body-section-div">
                            <p class="section-article-send">
                                <a href="#" class="section-article-icon">
                                    <i class="fa-solid fa-truck"></i> 
                                </a>
                            </p>
                            <div class="article-div-flex">
                                <p class="section-article-precio"> $230.000 </p> 
                                <p class="section-article-descuento"> 20% OFF </p>
                            </div>
                            <p class="section-article-descripcion"> MacBook Pro 2019 </p>
                        </div>
                    </article>
                </div>

                <div class="main-section-div-2">
                    <article class="main-section-article">
                        <div class="section-article-img">
                            <img class="main-article-img" src="/images/img-samsung-galaxy-s10.jpg" alt="Programacion Full Stack">
                        </div>
                        <div class="body-section-div">
                            <p class="section-article-send">
                                <a href="#" class="section-article-icon">
                                    <i class="fa-solid fa-truck"></i> 
                                </a>
                            </p>
                            <div class="article-div-flex">
                                <p class="section-article-precio"> $70.500 </p> 
                                <p class="section-article-descuento"> 10% OFF </p>
                            </div>
                            <p class="section-article-descripcion"> Samsung Galaxy S10 </p>
                        </div>
                    </article>
                    
                    <article class="main-section-article">    
                        <div class="section-article-img">
                            <img class="main-article-img" src="/images/img-tv-samsung-smart.jpg" alt="Programacion Full Stack">
                        </div>
                        <div class="body-section-div">
                            <p class="section-article-send"> 
                                <a href="#" class="section-article-icon">
                                    <i class="fa-solid fa-truck"></i> 
                                </a>
                            </p>
                            <div class="article-div-flex">
                                <p class="section-article-precio"> $23.200 </p> 
                                <p class="section-article-descuento"> 5% OFF </p>
                            </div>
                            <p class="section-article-descripcion"> SmartTv Samsung 43" </p>
                        </div>
                    </article>
                </div>
            </div>
        </section>

        <section class="main-section">
            <h3 class="main-titulares">Ofertas</h3>
            <div class="main-section-div-all">
                <div class="main-section-div-2">
                    <article class="main-section-article">
                        <div class="section-article-img">
                            <img class="main-article-img" src="/images/img-cafetera-moulinex.jpg" alt="Programacion Full Stack">
                        </div>
                        <div class="body-section-div">
                            <p class="section-article-send"> 
                                <a href="#" class="section-article-icon">
                                    <i class="fa-solid fa-truck"></i> 
                                </a>
                            </p>
                            <div class="article-div-flex">
                                <p class="section-article-precio"> $6.770 </p> 
                                <p class="section-article-descuento"> 40% OFF </p>
                            </div>
                            <p class="section-article-descripcion"> Cafetera Moulinex </p>
                        </div>
                    </article>

                    <article class="main-section-article">
                        <div class="section-article-img">
                            <img class="main-article-img" src="/images/img-macbook-pro-2019.jpg" alt="Programacion Full Stack">
                        </div>
                        <div class="body-section-div">
                            <p class="section-article-send"> 
                                <a href="#" class="section-article-icon">
                                    <i class="fa-solid fa-truck"></i> 
                                </a>
                            </p>
                            <div class="article-div-flex">
                                <p class="section-article-precio"> $230.000</p> 
                                <p class="section-article-descuento"> 20% OFF </p>
                            </div>
                            <p class="section-article-descripcion"> MacBook Pro 2019 </p>
                        </div>
                    </article>
                </div>

                <div class="main-section-div-2">
                    <article class="main-section-article">
                        <div class="section-article-img">
                            <img class="main-article-img" src="/images/img-samsung-galaxy-s10.jpg" alt="Programacion Full Stack">
                        </div>
                        <div class="body-section-div">
                            <p class="section-article-send"> 
                                <a href="#" class="section-article-icon">
                                    <i class="fa-solid fa-truck"></i> 
                                </a>
                            </p>
                            <div class="article-div-flex">
                                <p class="section-article-precio"> $70.500 </p> 
                                <p class="section-article-descuento"> 10% OFF </p>
                            </div>
                            <p class="section-article-descripcion"> Samsung Galaxy S10 </p>
                        </div>
                    </article>

                    <article class="main-section-article">
                        <div class="section-article-img">
                            <img class="main-article-img" src="/images/img-tv-samsung-smart.jpg" alt="Programacion Full Stack">
                        </div>
                        <div class="body-section-div">
                            <p class="section-article-send"> 
                                <a href="#" class="section-article-icon">
                                    <i class="fa-solid fa-truck"></i> 
                                </a>
                            </p>
                            <div class="article-div-flex">
                                <p class="section-article-precio"> $23.200 </p> 
                                <p class="section-article-descuento"> 5% OFF </p>
                            </div>
                            <p class="section-article-descripcion"> SmartTv Samsung 43" </p>
                        </div>
                    </article>
                </div>    
            </div>
        </section>
    </main>   
  
    <footer class="footer">
        <div class="footer-desktop">
            <section class="footer-article"> 
                <a href="#">
                    <i class="fa-solid fa-credit-card footer-icon-center"></i>
                </a>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo 
                    en puntos de pago. ¡Y siempre es seguro!</p>
            </section>   
                
            <section class="footer-article"> 
                <a href="#">
                    <i class="fa-solid fa-gift footer-icon-center"></i>
                </a>
                <h4>Envío gratis desde $ 2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </section>    

            <section class="footer-article"> 
                <a href="#" >
                    <i class="fa-solid fa-user-shield footer-icon-center"></i>
                </a>
                <h4>Seguridad, de principio a fin </h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </section>
        </div>
        <section> 
                <p class="footer-author">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>
</html>